In [2]:
import pandas as pd
from pandas import read_csv
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = read_csv('assets/Drug.csv')
df.head(10)

                                                Drug Disease Gender  Age
0               A CN Gel(Topical) 20gmA CN Soap 75gm    Acne   Male   23
1  A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...    Acne   Male   23
2                             ACGEL CL NANO Gel 15gm    Acne   Male   23
3                                ACGEL NANO Gel 15gm    Acne   Male   23
4                              Acleen 1% Lotion 25ml    Acne   Male   23
5                              Aclene 0.10% Gel 15gm    Acne   Male   23
6                                     Acnay Gel 10gm    Acne   Male   23
7                Acne Aid Bar 50gmAcne Aid Bar 100gm    Acne   Male   23
8                                   Acne UV Gel 60gm    Acne   Male   23
9                            Acne UV SPF 30 Gel 30gm    Acne   Male   23

In [5]:
df.replace({'Gender':{'Female':0,'Male':1}}, inplace=True)

In [7]:
x = df[['Disease']]

In [8]:
x.Disease.unique()

array(['Acne', 'Allergy', 'Diabetes', 'Fungal infection',
       'Urinary tract infection', 'Malaria', 'Migraine', 'Hepatitis B',
       'AIDS'], dtype=object)

In [11]:
df.replace({'Disease':{'Acne':0, 'Allergy':1, 'Diabetes':2, 'Fungal infection':3,
       'Urinary tract infection':4, 'Malaria':5, 'Migraine':6, 'Hepatitis B':7,
       'AIDS':8}}, inplace=True)

In [12]:
df.head()

                                                Drug  Disease  Gender  Age
0               A CN Gel(Topical) 20gmA CN Soap 75gm        0       1   23
1  A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...        0       1   23
2                             ACGEL CL NANO Gel 15gm        0       1   23
3                                ACGEL NANO Gel 15gm        0       1   23
4                              Acleen 1% Lotion 25ml        0       1   23

In [13]:
df.dtypes

Drug       object
Disease     int64
Gender      int64
Age         int64
dtype: object

### Fitting the model

In [15]:
# Feature Selection
df_x = df[['Disease','Gender','Age']]
df_y = df[['Drug']]

In [16]:
df_x.head()

   Disease  Gender  Age
0        0       1   23
1        0       1   23
2        0       1   23
3        0       1   23
4        0       1   23

In [18]:
df_y.head()

                                                Drug
0               A CN Gel(Topical) 20gmA CN Soap 75gm
1  A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...
2                             ACGEL CL NANO Gel 15gm
3                                ACGEL NANO Gel 15gm
4                              Acleen 1% Lotion 25ml

In [21]:
# Train Test Split
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(df_x , df_y , test_size = 0.2 , random_state=0)

In [22]:
x_train.head()

      Disease  Gender  Age
2150        2       1   23
167         0       0   20
3188        2       0   23
844         1       0   23
4129        3       0   37

In [25]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf = rf.fit(df_x,np.ravel(df_y))

In [26]:
from sklearn.metrics import accuracy_score
y_pred = rf.predict(x_test)
print(accuracy_score(y_test, y_pred))
print(accuracy_score(y_test, y_pred, normalize=False))

0.03834510595358224
38

In [27]:
# Score
rf.score(x_test,y_test)

0.03834510595358224

In [31]:
y_test.head()

                                                   Drug
2540  Metofix XL 500mg Tablet 10'SMetofix XL 1000mg ...
446                               ALL 3 5mg Tablet 10'S
4771  Lamivir 30mg Capsule 30'SLamivir 300mg Solutio...
541            Cetcip 10mg Tablet 10'SCetcip Syrup 30ml
1270   Acarcip 25mg Tablet 10'SAcarcip 50mg Tablet 10'S

In [30]:
# Making prediction of test Dataset
prediction = rf.predict(x_test)
print(prediction[0:10])

["Evizen SR 500mg Tablet 10'SEvizen SR 1000mg Tablet 10'S"
 "Alerdain M Tablet 10'S" "Herpin 800mg Tablet 10'S"
 "Livy M 10/5mg Tablet 10'SLivy M 10/5mg Syrup 60ml"
 "Evizen SR 500mg Tablet 10'SEvizen SR 1000mg Tablet 10'S"
 "Itrasil 100mg Capsule 10'SItrasil 200mg Capsule 10'S"
 "Herpin 800mg Tablet 10'S" 'Lumate Injection 2ml' 'Lumate Injection 2ml'
 "Herpin 800mg Tablet 10'S"]

In [33]:
# make prediction for Disease = malaria , age = 24 , Sex = male 
test = [5,1,24]
test = np.array(test) #list to numpy Array
print(test.shape) #Shape of array is 2d Array
test = np.array(test).reshape(1,-1)
print(test.shape)

(3,)
(1, 3)

In [34]:
prediction = rf.predict(test)
print(prediction[0])

Combither Forte 80/480mg Tablet 6'S

D:\GitHub\Git\Health-Care-Prediction-System\venv\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [36]:
import joblib as joblib
joblib.dump(rf, 'model/medical_rf.pkl')

['model/medical_rf.pkl']

In [37]:
# loading the model
clf = joblib.load('model/medical_rf.pkl')

In [38]:
prediction = clf.predict(test)
print(prediction[0])

Combither Forte 80/480mg Tablet 6'S

D:\GitHub\Git\Health-Care-Prediction-System\venv\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [42]:
# fitting naive bayes
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb = gnb.fit(df_x,np.ravel(df_y))

In [ ]:
# check model accuracy
y_pred = gnb.predict(x_test)
print(accuracy_score(y_test,y_pred))